@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    font-family: Arial, sans-serif;
    text-align: center;
}
.main-heading-section {
    background-color: #ebf8fc;
    color:#FF6600;
    padding:30px;
}
#search-form {
    margin-top: 20px;
}
#search-term {
    padding: 10px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}
#search-button {
    padding: 10px 20px;
    background-color: #FF9800;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
#search-button:hover {
    background-color: #FF6600;
}
#image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
img {
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: transform 0.3s;
    cursor: pointer;
    height:200px;
    width:260px;
}
img:hover {
    transform: scale(1.1);
}
.image-grid{
    margin:20px;
    background-color:lightskyblue;
}